In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
# help(pd.Series)

In [5]:
myindex = ['USA', 'CANADA', 'MEXICO']

In [6]:
mydata = [1776, 1867, 1821]

In [7]:
myseries = pd.Series(data=mydata, index=myindex)

In [8]:
myseries

USA       1776
CANADA    1867
MEXICO    1821
dtype: int64

In [9]:
type(myseries)

pandas.core.series.Series

In [12]:
myseries['USA'] # labeled index

1776

In [13]:
myseries[0]

1776

In [14]:
ages = {'Sam':5, 'Frank':7, 'Spike':4}

In [15]:
pd.Series(ages)

Sam      5
Frank    7
Spike    4
dtype: int64

In [16]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [18]:
sales_q1 = pd.Series(q1)

In [19]:
sales_q2 = pd.Series(q2)

In [20]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [21]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [23]:
sales_q1['Japan'] # more readable

80

In [25]:
sales_q1.keys() # returns back index

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [26]:
[1,2] * 2

[1, 2, 1, 2]

In [27]:
np.array([1,2]) * 2

array([2, 4])

In [28]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [29]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [30]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [31]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [33]:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [34]:
sales_q1.dtype

dtype('int64')