In [1]:
import pandas as pd

In [2]:
import os

In [3]:
os.getcwd()

'C:\\Users\\Ikra\\Desktop\\Python for ML & DS Masterclass\\Pandas'

In [4]:
df = pd.read_csv('C:\\Users\\Ikra\\Desktop\\UNZIP_FOR_NOTEBOOKS_FINAL (1)\\03-Pandas\\example.csv')

In [5]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
pd.read_csv('C:\\Users\\Ikra\\Desktop\\UNZIP_FOR_NOTEBOOKS_FINAL (1)\\03-Pandas\\example.csv',header=None)

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [8]:
pd.read_csv('C:\\Users\\Ikra\\Desktop\\UNZIP_FOR_NOTEBOOKS_FINAL (1)\\03-Pandas\\example.csv',index_col=0)

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [9]:
df.to_csv('C:\\Users\\Ikra\\Desktop\\newfile.csv', index=False)

In [10]:
url = "https://en.wikipedia.org/wiki/World_population"

In [11]:
tables = pd.read_html(url)

In [12]:
len(tables)

29

In [43]:
tables[4]

,Rank,Country / Dependency,Population,Percentage of the world,Date,Source (official or from the United Nations)
0,1,India,1425775850,NaN,14 Apr 2023,UN projection[92]
1,2,China,1412600000,NaN,31 Dec 2021,National annual estimate[93]
2,3,United States,335528124,NaN,18 Oct 2023,National population clock[94]
3,4,Indonesia,275773800,NaN,1 Jul 2022,National annual estimate[95]
4,5,Pakistan,229488994,NaN,1 Jul 2022,UN projection[96]
5,6,Nigeria,216746934,NaN,1 Jul 2022,UN projection[96]
6,7,Brazil,216790260,NaN,18 Oct 2023,National population clock[97]
7,8,Bangladesh,168220000,NaN,1 Jul 2020,Annual Population Estimate[98]
8,9,Russia,147190000,NaN,1 Oct 2021,2021 preliminary census results[99]
9,10,Mexico,128271248,NaN,31 Mar 2022,NaN

In [44]:
tables[4].columns

Index(['Rank', 'Country / Dependency', 'Population', 'Percentage of the world',
       'Date', 'Source (official or from the United Nations)'],
      dtype='object')

In [48]:
world_topten = tables[4]

In [51]:
world_topten.index = world_topten['Rank']

In [52]:
world_topten

,Rank,Country / Dependency,Population,Percentage of the world,Date,Source (official or from the United Nations)
Rank,,,,,,
1,1,India,1425775850,NaN,14 Apr 2023,UN projection[92]
2,2,China,1412600000,NaN,31 Dec 2021,National annual estimate[93]
3,3,United States,335528124,NaN,18 Oct 2023,National population clock[94]
4,4,Indonesia,275773800,NaN,1 Jul 2022,National annual estimate[95]
5,5,Pakistan,229488994,NaN,1 Jul 2022,UN projection[96]
6,6,Nigeria,216746934,NaN,1 Jul 2022,UN projection[96]
7,7,Brazil,216790260,NaN,18 Oct 2023,National population clock[97]
8,8,Bangladesh,168220000,NaN,1 Jul 2020,Annual Population Estimate[98]
9,9,Russia,147190000,NaN,1 Oct 2021,2021 preliminary census results[99]
10,10,Mexico,128271248,NaN,31 Mar 2022,NaN

In [54]:
world_topten = world_topten.drop('Rank', axis=1)

In [55]:
world_topten.to_html('C:\\Users\\Ikra\\Desktop\\newhtml.html')

In [65]:
# df = pd.read_excel('C:\\Users\\Ikra\\Desktop\\UNZIP_FOR_NOTEBOOKS_FINAL (1)\\03-Pandas\\my_excel_file.xlsx',sheet_name='First_Sheet')

In [61]:
!pip install xlrd

WARNING: There was an error checking the latest version of pip.

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
     ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
     ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
     ------------ --------------------------- 30.7/96.5 kB ? eta -:--:--
     ------------ --------------------------- 30.7/96.5 kB ? eta -:--:--
     ---------------- --------------------- 41.0/96.5 kB 281.8 kB/s eta 0:00:01
     ---------------- --------------------- 41.0/96.5 kB 281.8 kB/s eta 0:00:01
     ------------------------------------ - 92.2/96.5 kB 327.7 kB/s eta 0:00:01
     -------------------------------------- 96.5/96.5 kB 325.6 kB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [64]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.22-cp38-cp38-win_amd64.whl.metadata (9.7 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\ikra\appdata\local\programs\python\python38\lib\site-packages (from sqlalchemy) (4.8.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.0-cp38-cp38-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.22-cp38-cp38-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB 1.3 MB/s eta 0:00:02
   -- ------------------------------------- 0.2/2.1 MB 1.8 MB/s eta 0:00:02
   ----- ---------------------------------- 0.3/2.1 MB 2.2 MB/s eta 0:00:01
   ------- -------------------------------- 0.4/2.1 MB 2.1 MB/s eta 0:00:01
   -------------- ------------------------- 0.7/2.1 MB 3.3 MB/s eta 0:00:01
   ---------------- ----------------------- 0.9/2.1 MB 3.1 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 3.4 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 3.6 MB/s eta 0:00:01
   ----------------------------- ---------- 1.5/2.1 MB 3.8 MB/s eta 0:00:01
   --------------------------------- ------ 1.7/2.1 MB 3.8 MB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  2.0/2.1 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 3.6 MB/s eta 0:00:00
Downloading greenlet-3.0.0-cp38-cp38-win_amd64.whl (286 kB)
   ---------------------------------------- 0.0/286.9 kB ? eta -:--:--
   ---------------------------------------  286.7/286.9 kB 5.9 MB/s eta 0:00:01
   ---------------------------------------- 286.9/286.9 kB 4.4 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.0 sqlalchemy-2.0.22

WARNING: There was an error checking the latest version of pip.

In [69]:
from sqlalchemy import create_engine
import numpy as np

In [68]:
temp_db = create_engine('sqlite:///:memory:')

In [73]:
df = pd.DataFrame(data=np.random.randint(low=0,high=100,size=(4,4)), columns=['a','b','c','d'])

In [74]:
df

    a   b   c   d
0  90  14  86  65
1  99  26  68  56
2  75  43   4  46
3  80  19  29  54

In [75]:
df.to_sql(name='new_table', con=temp_db)

In [76]:
pd.read_sql(sql='new_table', con=temp_db)

   index   a   b   c   d
0      0  90  14  86  65
1      1  99  26  68  56
2      2  75  43   4  46
3      3  80  19  29  54

In [79]:
result = pd.read_sql_query(sql='SELECT a,c FROM new_table', con=temp_db)

In [80]:
result

    a   c
0  90  86
1  99  68
2  75   4
3  80  29