In [1]:
import numpy as np
import pandas as pd

from datetime import datetime

In [3]:
myyear = 2015
mymonth = 1
myday = 1
myhour = 2
mymin = 30
mysec = 15

In [4]:
mydate = datetime(myyear,mymonth,myday,myhour,mymin,mysec)

In [5]:
mydate

datetime.datetime(2015, 1, 1, 2, 30, 15)

In [6]:
mydate.year

2015

In [7]:
mydate.day

1

In [8]:
myser = pd.Series(['Nov 3, 1990', '2000-01-01', None])

In [9]:
myser

0    Nov 3, 1990
1     2000-01-01
2           None
dtype: object

In [11]:
pd.to_datetime(myser)

0   1990-11-03
1   2000-01-01
2          NaT
dtype: datetime64[ns]

In [12]:
timeser = pd.to_datetime(myser)

In [13]:
timeser[0].year

1990

In [14]:
obvious_euro_date = '31-12-2000'

In [15]:
pd.to_datetime(obvious_euro_date)

Timestamp('2000-12-31 00:00:00')

In [17]:
euro_date = '10-12-2000'

In [18]:
pd.to_datetime(euro_date)

Timestamp('2000-10-12 00:00:00')

In [19]:
pd.to_datetime(euro_date, dayfirst=True)

Timestamp('2000-12-10 00:00:00')

In [21]:
pd.to_datetime('12--Dec--2000', format='%d--%b--%Y')

Timestamp('2000-12-12 00:00:00')

In [22]:
pd.to_datetime('12th of Dec 2000')

Timestamp('2000-12-12 00:00:00')

In [23]:
sales = pd.read_csv('C:\\Users\\Ikra\\Desktop\\UNZIP_FOR_NOTEBOOKS_FINAL (1)\\03-Pandas\\RetailSales_BeerWineLiquor.csv')

In [24]:
sales.head()

         DATE  MRTSSM4453USN
0  1992-01-01           1509
1  1992-02-01           1541
2  1992-03-01           1597
3  1992-04-01           1675
4  1992-05-01           1822

In [25]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           340 non-null    object
 1   MRTSSM4453USN  340 non-null    int64
dtypes: int64(1), object(1)
memory usage: 5.4+ KB

In [27]:
sales['DATE'] = pd.to_datetime(sales['DATE'])

In [28]:
sales['DATE'][0].year

1992

In [33]:
sales = sales.set_index('DATE')

In [34]:
sales.head()

            MRTSSM4453USN
DATE
1992-01-01           1509
1992-02-01           1541
1992-03-01           1597
1992-04-01           1675
1992-05-01           1822

In [36]:
sales.resample(rule='A').mean()

            MRTSSM4453USN
DATE
1992-12-31    1807.250000
1993-12-31    1794.833333
1994-12-31    1841.750000
1995-12-31    1833.916667
1996-12-31    1929.750000
1997-12-31    2006.750000
1998-12-31    2115.166667
1999-12-31    2206.333333
2000-12-31    2375.583333
2001-12-31    2468.416667
2002-12-31    2491.166667
2003-12-31    2539.083333
2004-12-31    2682.416667
2005-12-31    2797.250000
2006-12-31    3001.333333
2007-12-31    3177.333333
2008-12-31    3292.000000
2009-12-31    3353.750000
2010-12-31    3450.083333
2011-12-31    3532.666667
2012-12-31    3697.083333
2013-12-31    3839.666667
2014-12-31    4023.833333
2015-12-31    4212.500000
2016-12-31    4434.416667
2017-12-31    4602.666667
2018-12-31    4830.666667
2019-12-31    4972.750000
2020-12-31    4922.500000