In [1]:
import numpy as np
import pandas as pd

In [2]:
name = 'ikra@gmail.com'

In [3]:
name.split('@')

['ikra', 'gmail.com']

In [5]:
names = pd.Series(['Ala', 'ikra', 'Emir', 'David', '5'])

In [6]:
names

0      Ala
1     ikra
2     Emir
3    David
4        5
dtype: object

In [7]:
names.str.upper()

0      ALA
1     IKRA
2     EMIR
3    DAVID
4        5
dtype: object

In [8]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [9]:
tech_finance = ['GOOG,APPL,AMZN', 'JPM,BAC,GS']

In [10]:
tickers = pd.Series(tech_finance)

In [11]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [16]:
tickers.str.split(',')

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [17]:
tickers.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [20]:
tickers.str.split(',', expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [21]:
messy_names = pd.Series(['andrew  ', 'bo;bo', '  claire   '])

In [22]:
messy_names

0       andrew
1          bo;bo
2      claire
dtype: object

In [27]:
messy_names.str.replace(';','').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object