NUMPY

Numpy Arrays 
- How to create NumPy arrays
  - Transforming standart list
  - Built-in function
  - Generating random data

In [1]:
import numpy as np

In [2]:
mylist = [1,2,3]

In [4]:
type(mylist)

list

In [5]:
np.array(mylist) # to transform a python list to numpy array.

array([1, 2, 3])

In [6]:
# let's reassign it to myarr
myarr = np.array(mylist)

In [7]:
myarr

array([1, 2, 3])

In [8]:
type(myarr)

numpy.ndarray

In [10]:
#let's create an object called my_matrix
my_matrix = [[1,2,3], [4,5,6], [7,8,9]]

In [12]:
# take a look at my_matrix
my_matrix # normal pyhton list.

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
#let's pass this as a numpy array
np.array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [14]:
# numpy knows that is a 2D array.
# using numpy to manipulate and have capabilities and functions 
# apply to 2D data sets.

# we'll be using built-in functions and built-in methods with numpy.

In [15]:
# the equivalent in numpy to python's built-in range func.
np.arange(0, 10) # it creates a numpy array that starts at 0.

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [16]:
# we can add step size as a third parameter.
np.arange(0, 20, 2) # it stops at 19.

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [17]:
# to create large arrays of zeros and ones when dealing with realistic data sets.
np.zeros(5) # it produces a 1D vector of zeros.

# zeros are floating point numbers by default

array([0., 0., 0., 0., 0.])

In [19]:
# if we want this to be a 2D array,
np.zeros((4,4)) # passing a tuple (rows, cols)

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [20]:
# NP ones, which is very similar.
np.ones((1,4))

array([[1., 1., 1., 1.]])

In [22]:
# it is for creating np array but not like arange func.
np.linspace(0, 50, 2) 

# third paramerter represents how many numbers we want in between start and stop
# by default, this end point is included.

array([ 0., 50.])

In [23]:
np.linspace(0,10,11) # there are 11 numbers

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [24]:
np.linspace(0,5, 21)

array([0.  , 0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  , 2.25, 2.5 ,
       2.75, 3.  , 3.25, 3.5 , 3.75, 4.  , 4.25, 4.5 , 4.75, 5.  ])

In [25]:
#how to create an identity matrix (square matrix)
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

How we can create random distributions of data

* Numpy comes with its own full random library
    * np.random - there is tons of built-in functions and classes.

Note: hit shitf + tab to give some useful information about 
parameters of functions.

In [ ]:
# the simplest which is rand
np.random.rand

#create an array of the given shape and populate it with random 
# samples from a uniform distribution over [0, 1) 
# 0 is inclusive and 1 is exclusive. it cant return back 1.

In [28]:
# every time you run the cell, it keeps giving us back a different
# random number
np.random.rand(1)

array([0.60674589])

In [29]:
# you can also pass a shape
np.random.rand(2, 5) 

# Instead you pass (the number of rows, the number of columns)

array([[0.93672845, 0.3631066 , 0.26373181, 0.41542091, 0.82296617],
       [0.11161728, 0.2260856 , 0.72534831, 0.08196607, 0.29160318]])

* All zeros and ones have the same likelihood of being returned

* In the normal world, thing happen to fall under a normal 
 distribution

In [ ]:
# to create a samples from a standart normal distribution
np.random.randn

# n represents normal distributions

* we can get negative numbers
* The numbers that are closest to 0 have a higher likelihood of being selected,

In [30]:
np.random.randn(10) # give me 10 number in normal dist.

array([ 0.02256259,  0.39937319,  1.36653095,  0.81230037, -1.54580538,
        0.30150975,  0.2980564 , -1.38780018,  0.60433245,  0.06931451])

In [31]:
np.random.randn(2,3) # aranged in a particular shape

array([[ 0.95033739, -0.56046162,  0.80502321],
       [-0.86492277, -0.68155072,  0.83210521]])

In [33]:
# returns back random integers
np.random.randint(0, 11, 5)

# high is exclusive and numbers have the same likelihood
# the third parameter is size argument

array([1, 0, 1, 9, 5])

In [34]:
# in a shape of a 4 by 5
np.random.randint(0, 101, (4, 5))

array([[78, 57, 23, 13, 69],
       [83, 12, 83, 18, 18],
       [ 2, 96,  8, 50, 52],
       [46, 16,  2, 46, 39]])

when you're using the random numbers, it's useful to be able to set a seed. 
The seed is used to set a random state so that the random state can be reproduced.
* The results are still random, but you're choosing an arbitrary seed number so you can get a particular sets of number.

In [36]:
# make sure that to do this in the same cell.
np.random.seed(42) 
np.random.randint(0, 11, 3)

array([ 6,  3, 10])

In [37]:
# you'll get back those same random numbers
np.random.seed(42) 
np.random.randint(0, 11, 3)

array([ 6,  3, 10])

In [38]:
arr = np.arange(0, 25)

In [39]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [40]:
# reshape this
arr.reshape(5, 5)

# make sure that multiply rows and columns, they should equal the 
# same number of elements

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [41]:
ranarr = np.random.randint(0, 101, 10)

In [42]:
ranarr

array([71, 60, 20, 82, 86, 74, 74, 87, 99, 23])

In [43]:
ranarr.max()

99

In [44]:
ranarr.min()

20

In [46]:
ranarr.argmax() # max element's index

8

In [47]:
ranarr.argmin()

2

In [49]:
# datatype of an array
ranarr.dtype

dtype('int32')

In [51]:
# shape is an attribute of an existing array
ranarr.shape

(10,)

In [52]:
ranarr

array([71, 60, 20, 82, 86, 74, 74, 87, 99, 23])

In [54]:
new_ranarr = ranarr.reshape(10, 1)

In [55]:
new_ranarr

array([[71],
       [60],
       [20],
       [82],
       [86],
       [74],
       [74],
       [87],
       [99],
       [23]])

In [56]:
new_ranarr.shape

(10, 1)